.hero-section{
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows:1fr 1fr;
    grid-template-areas:
    "first second"
    "third fourth";
    justify-content: center;
    align-items: center;

}
.heroSection{
    max-width: 1440px;
    margin: 0 auto;
}
img{
    height: 90%;
    width: 90%;
}

